

body {
    background-image: url(OBMCtinted.jpg);
    width: 100%;
    background-size: cover;
    
}


.container21 {
    margin-left: 500px;
    margin-top  : 0px;
    
}

.table-primary {
    margin-left: 20px;
}

    

    
